/* dashStyle.css */

/* remove margin */
* {
    margin: 0;
    box-sizing: border-box;
  }

/* fonts */
@font-face {
    font-family: 'edoregular';
    src: url('fonts/font1/edo-webfont.eot');
    src: url('fonts/font1/edo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/font1/edo-webfont.woff2') format('woff2'),
         url('fonts/font1/edo-webfont.woff') format('woff'),
         url('fonts/font1/edo-webfont.ttf') format('truetype'),
         url('fonts/font1/edo-webfont.svg#edoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meta_procond_regular';
    src: url('fonts/font2/ffmetaprocondrg-webfont.woff2') format('woff2'),
         url('fonts/font2/ffmetaprocondrg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    display: grid;
    background-color: red;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: lightblue;
    grid-row: 1 / span 4;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.logo {
    height: 5vh;
    vertical-align: middle;
    padding-right: 5px;
}

.branding {
    vertical-align: middle;
    margin: auto;
    padding-right: 5vw;
    font-family: 'edoregular';
    font-size: 28px;
    color: white;
}

.header {
    background-color: lightgreen;
    grid-column: 2 / span 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-content {
    background-color: lightcoral;
    grid-row: 2 / span 4;
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-column: span 1;
    grid-row: span 2;
}

ul {
    list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: white;
    font-family: 'meta_procond_regular';
}